# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# CDK
cdk.out/
*.js
!infra/cdk.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AWS
.aws-sam/
samconfig.toml

# Kiro
.kiro/
